body {
    margin: 0px;
    border: 0px;
    padding: 0px;
}
textarea {
    width: 90%;
    height: 60%;
    background-color: #ffdc82;
}
body.dark textarea {
    background-color: #c0a96d;
}
.contenedorPrincipal {
    width: 100vw;
    display: grid;
    grid-template-rows: 67vw 76vw 76vw 76vw 76vw;
    gap: 0px;
}
.seccionPrincipal {
    background-image: url(perfil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 35% 65%;
}
.textoPresentacion {
    padding: 5% 10% 25% 10%;
    color: #ffdc82;
    font-family: Sevillana;
    font-size: 3.8vw;
}
.secciones {
    display: grid;
    grid-template-rows: 10vw 66vw;

}
.enLasSecciones {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Indie;
    font-size: 1.7vw;
    padding: 5%;
    transition: 0.5s;
}
body.dark .enLasSecciones {
    background-image: url(background-oscuro.jpg);
    text-shadow: 0px 0px 10px #ffdc82;
}
.titulos {
    background-color: #ffdc82;
    color: #0e0d0b;
    font-family: Marck;
    font-size: 5vw;
    text-align: center;
    padding: 1.5%;
    transition: 1s;
}
body.dark .titulos {
    background-color: #0e0d0b;
    color: #c0a96d;
}
.info {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 50% 50%;
    column-gap: 15%;
    row-gap: 5%;
}
.foto {
    width: 100%;
    height: auto;
}
.formacion {
    display: grid;
    grid-template-columns: 50% 50%;
}
.educacion {
    display: grid;
    grid-template-rows: 25% 75%;
}
.interlineado {
    line-height: 0.8;
}
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-weight:bold ;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 30vw;
    background-color: #ffdc82;
    color: black;
    text-align: center;
    border-radius: 6vw;
    padding: 1vw 0;
    position: absolute;
    z-index: 1;
    top: 0%;
    left: 100%;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.contacto {
    display: grid;
    grid-template-rows: 10% 83% 7%;
}
.formulario {
    padding: 0%;
    display: grid;
    grid-template-rows: 15% 15% 25% 10%;
    gap: 6.5%;
}

.formulario__label {
	display: block;
	font-weight: 700;
	padding: 0;
	cursor: pointer;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 90%;
	background: #ffdc82;
	border: 3px solid transparent;
	border-radius: 2px;
	height: 4vw;
	transition: .3s ease all;
}
body.dark .formulario__input {
    background-color: #c0a96d;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 2vw;
	margin: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
    right: 10%;
    bottom: 20%;
    z-index: 100;
    font-size: 2.5vw;
    opacity: 0;
}

.formulario__mensaje {
	height: 3vw;
	line-height: 3.5vw;
	background: #F66060;
	text-align: center;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
    padding: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 6vw;
	line-height: 5vw;
    padding: 1%;
	width: 18vw;
	background: #000;
	color: #ffdc82;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}
body.dark .formulario__btn {
    background-color: #c0a96d;
    color: #0e0d0b;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}
.redes {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding: 0% 20% 0% 20%;
}
.icono {
    width: 50%;
    height: auto;
    cursor: pointer;
}
/*Menú flotante*/
.botonFlotante {
    margin: 1vw 5vw;
    padding: 0% 1% 0% 1%;
	border-radius: 15%;
	background-color: #ffdc82;
    opacity: 0.5;
	position: fixed;
	top: ovw;
	right: 5vw;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 0px 25px rgba(10, 10, 10, 0.1);
	z-index: 99;
}
body.dark.botonFlotante {
    opacity: 0.3;
}
.botonFlotante:hover {
	background-color: #d8a931;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
    opacity: 1;
}


/* Menu desplegable */
#menu ul {
    list-style:none;
    margin:0;
    padding:0;

}
#menu ul li {
    background-color:#ffdc82;
    position:relative;
    float:left;
    margin:0;
    padding:0%;
}
#menu ul li:hover {
    background:#af8a2a;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}
#menu ul p {
    font-size: 1vw;
    font-family: indie-flower;
    color:black;
    text-decoration:none;
    font-weight:400;
    text-transform:uppercase;
    letter-spacing:1px;
}
#menu ul ul {
    display:none;
    position:absolute;
    top:1.5vw;
    right: 0;
    background:#ffdc82;
    padding:0;
}
#menu ul ul li {
    float:none;
    width:10vw;
}
#menu ul ul a,button {
    display:block;
    font-size: 1.5vw;
    font-family: indie-flower;
    color:black;
    text-decoration:none;
    font-weight:400;
    padding:10%;
    letter-spacing:1px;
    line-height:80%;
    padding: 6% 10%;
}
#menu ul ul button {
    border: 0px;
    background:#ffdc82;
    text-align: left;
}
#menu ul ul button:hover {
    background:#af8a2a;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}
#menu ul li:hover > ul {
    display:block;
}
.botonImprimir {
    display: block;
}

/*Media Queries*/
@media only screen and (max-width: 600px) {
    .contenedorPrincipal {
        grid-template-rows: 140vw 125vw 125vw 125vw 125vw;
    }
    .seccionPrincipal {
        background-size: contain;
        background-color: #0e0d0b;
        grid-template-columns: auto;
    }
    .textoPresentacion {
        font-size: 6.8vw;
        position: relative;
        top: 65vw;
    }
    .secciones {
        display: grid;
        grid-template-rows: 15vw 110vw;
    
    }
    .titulos {
        font-size: 8vw;
    }
    .enLasSecciones {
        font-size: 2.7vw;  
        padding: 3%;
    }
    .info {
        grid-template-rows: 40% 60%;
        column-gap: 5%;
    }
    .interlineado {
        line-height: 1.1;
    }
    .foto {
        background-size: 100%;
    }
    #menu ul {
        margin:1vw;
    }
    #menu ul li {
        padding:7%;
    }
    #menu ul p {
        font-size: 3vw;
    }
    #menu ul ul {
        width: 25vw;
    }
    #menu ul ul li {
        width:86%;
    }
    #menu ul ul a,button {
        font-size: 3.5vw;
    }
    
	.formulario__btn {
		width: 90%;
	}
    .botonImprimir {
        display: none;
    }
}
@media print {
    .contenedorPrincipal {
        grid-template-rows: 79vw 79vw 79vw 0vw 0vw;
    }
    .seccionPrincipal {
        display: none;
    }
    .contactar {
        display: none;
    }
    .botonFlotante {
        display: none;
    }
    .secciones {
        grid-template-rows: 12vw 67vw;
    }
    .titulos {
        font-size: 5vw;
        padding: 2%;
    }
    .enLasSecciones {
        font-size: 1.7vw;
        padding: 3%;
    }
}




/**Fuentes descargadas*/
@font-face {                           /**Creo la font-family descargada*/

    font-family: Sevillana;
    
    src: url(fuentes/Sevillana-Regular.ttf);
    
}

@font-face {  

    font-family: Indie;
    
    src: url(fuentes/IndieFlower-Regular.ttf);
    
}
@font-face {  

    font-family: Marck;
    
    src: url(fuentes/MarckScript-Regular.ttf);
    
}
@font-face {  

    font-family: indie-flower;
    
    src: url(fuentes/IndieFlower-Regular.ttf);
    
}